@charset "UTF-8";

/* 回答はここに書いてね */
.text_box {
  width: 500px;
  padding: 20px;
  margin: 0 auto;
  border:solid 5px #222222;
  border-radius: 30px;
  position: relative;
}

.text_box:before,
.text_box:after {
  position: absolute;
  content: "";
  border:solid 20px;
  border-color: transparent;
}


.text_box:before {
  left: 30px;
  bottom: -45px;
  border-top-color:#222222;
}

.text_box:after {
  left: 30px;
  bottom: -37px; 
  border-top-color:#fff;
}


/* 回答はここに書いてね */
